:root{
    --color:red;
    --link-color:green;
    /* --bg-color: rgba(196, 147, 147, 0.5); */
}

body{
    /* background-color: var(--bg-color, blue); */
}

p{
    color: var(--color);
}

a{
    color: var(--link-color);
}

:root{
    --font-size: 2em;
}

*, *::before, *::after{
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: var(--font-size);
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: var(--column-size);
    padding-left: 1em;
    padding-right: 1em;

    
}

@media screen and (min-width: 1024px){
    h2{
        --font-size: 5em;
    }

    .column{
        --column-size: 33.33%;
    }
}

:root{
    --colors: yellow;
    --colors-text: green;
}

h3{
    color: var(--colors-text);
}

:root {
    --bar-color: red;
    --width: 0;
}

body::before{
    content: '';
    display: block;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bar-color);

    /*magic*/
    width: calc(var(--width) *1vw);

}